<div id="<%= dom_id receipt %>" class="receipt">
  <div class="my-5">
    <span>
      <strong class="inline-block font-bold mb-1">Total:</strong>
      <p class="price inline-block" data-base-price="<%= receipt.amount %>">
        <%= monetize receipt.amount %>
      </p>
    </span>

    <span class="ml-4">
      <strong class="inline-block font-bold mb-1">Tax:</strong>
      <p class="price inline-block" data-base-price="<%= receipt.tax_amount %>">
        <%= monetize receipt.tax_amount %>
      </p>
    </span>
  </div>

  <div class="flex justify-end items-center">
    <span class="font-sans font-light">Displaying prices in:</span>
    <span class="ml-4">
      <%= select_tag :selected_currency,
                     options_for_select(@rates, @default_currency),
                     id: 'currency-selector',
                     class: 'p-2 border rounded'
                    %>
    </span>
  </div>

  <div class="flex justify-center my-6">
    <table class="table-auto w-full">
      <thead class="shadow border-slate-50">
        <tr class="text-left">
          <th class="p-5">Quantity</th>
          <th class="p-5">Description</th>
          <th class="p-5">Amount</th>
          <th class="p-5">Tax</th>
        </tr>
      </thead>
      <tbody>
        <% row = 1 %>
        <% receipt.receipt_items.each do |item| %>
          <tr class="w-full text-left hover:bg-slate-50 shadow">
            <td class="w-1/4 pr-5">
              <%= content_tag :p,
                              item.quantity,
                              class: "block rounded outline-none px-3 py-2 mt-2 w-full" %>
            </td>
            <td class="w-2/4">
              <%= content_tag :p,
                              item.description,
                              class: "block rounded outline-none px-3 py-2 mt-2 w-full" %>
            </td>
            <td nowrap class="w-1/4 pl-5">
              <%= content_tag :p,
                              monetize(item.amount),
                              data: { base_price: item.amount },
                              class: "price block rounded outline-none px-3 py-2 mt-2 w-full" %>
            </td>
            <td nowrap class="w-1/4 pl-5">
              <%= content_tag :p,
                              monetize(item.tax_amount),
                              data: { base_price: item.tax_amount },
                              class: "price block rounded outline-none px-3 py-2 mt-2 w-full" %>
            </td>
          </tr>

          <% row += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
