<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between w-full">
      <h1 class="font-bold text-4xl">Receipt</h1>
      <div class="flex">
        <%= link_to 'See Receipts', receipts_path, class: "block ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

        <%= link_to 'Export', export_receipt_path(@receipt), target: "_blank", class: "block ml-2 rounded-lg py-3 px-5 bg-blue-50 inline-block font-medium" %>

        <%= button_to 'Delete this Receipt',
                      receipt_path(@receipt),
                      method: :delete,
                      class: "block ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium bg-red-100"
        %>
      </div>
    </div>

    <%= render @receipt %>
  </div>
</div>
